{% extends '../store/base.html' %}

{% block title %}
Log in
{% endblock %}

{% block content %}
    <div class="mx-auto bg-light rounded p-5" style="width: 700px; margin-top: 50px;"> 
        <h2 class="mb-4">Log in</h2>
        <form method="post" action=".">
            {% csrf_token %}


            <div class="mb-3">
                <label class="d-block mb-2" for="">Username</label>
                {{ form.username }}
            </div>
            <div class="mb-3">
                <label class="d-block" for="">Password</label>
                {{ form.password }}
            </div>


            {% if form.errors or form.non_field_errors %}
            <div class="mb-3 p-2 rounded" style="background-color: rgb(172, 211, 244);">
                {% for field in form %}
                {{ field.errors }}
                {% endfor %}

                {{ form.non_field_errors }}
            </div>
            {% endif %}

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        
    </div>
{% endblock %}